In [1]:
import pandas as pd

df = pd.read_csv('resultados_comparacao.csv')
df

     instancia  guloso    vnd
0   n3m10A.txt   23940  10194
1   n3m10B.txt    5559   1561
2   n3m10C.txt   10301   2150
3   n3m10D.txt    5124    322
4   n3m10E.txt    6920   3343
5   n3m20A.txt   88820  38574
6   n3m20B.txt   66010  23918
7   n3m20C.txt   33006   8908
8   n3m20D.txt   16477   4465
9   n3m20E.txt   33326   4537
10  n3m40A.txt  300549  59138
11  n3m40B.txt  190776  43400
12  n3m40C.txt  287714  49614
13  n3m40D.txt   74363  14319
14  n3m40E.txt   50722  18970
15  n5m50A.txt  363794  80093
16  n5m50B.txt  289454  43485
17  n5m50C.txt   90412  23164
18  n5m50D.txt   66633  16159
19  n5m50E.txt   49347  10554